<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <link th:href="@{/css/app.css}" rel="stylesheet" />

    <title>Log In - Film Archive</title>

    <th:block th:replace="~{fragments/theme :: themeHead}">
</th:block>

</head>

<body class="app-page page--auth page--login">

<div class="theme-toggle-dock">

    <th:block th:replace="~{fragments/theme :: themeToggle}">
    </th:block>

</div>

<div class="page-container">

    <main class="card">

        <h1>Log In</h1>

        <p class="subtitle">
            To access your film archive, please log in.
        </p>

        <div class="message error"
             role="alert"
             th:if="${param.deleted != null}">
            This account has been deleted. Please Register for new account.
        </div>

        <!-- Spring Security authentication hatası -->
        <div class="message error"
             role="alert"
             th:if="${param.error != null and param.deleted == null}">
            Email or password is incorrect.
        </div>

        <!-- Logout sonrası -->
        <div class="message success"
             th:if="${param.logout}">
            You have successfully logged out.
        </div>

        <!-- Başarılı registration sonrası -->
        <div class="message success"
             th:if="${param.registered}">
            Your account has been successfully created. You can now log in.
        </div>

        <form th:action="@{/login}"
              method="post">

            <div class="form-group">

                <label for="email">
                    E-mail
                </label>

                <input
                        id="email"
                        name="email"
                        type="email"
                        autocomplete="email"
                        required
                        autofocus
                        placeholder="example@example.com"
                >

            </div>

            <div class="form-group">

                <label for="password">
                    Password
                </label>

                <input
                        id="password"
                        name="password"
                        type="password"
                        autocomplete="current-password"
                        required
                        placeholder="Password"
                >

            </div>

            <button type="submit">
                Log In
            </button>

        </form>

        <p class="footer-text">
            Don't have an account yet?
            <a th:href="@{/register}">
                Register
            </a>
        </p>

    </main>

</div>

</body>
</html>
